<!DOCTYPE html>
<html>

<head>
	<title>Scelta attori</title>
	<link rel="stylesheet" href="/css/ActorToAdd.css" />
</head>

<body>
<nav>

<h1 class="logo">SiwMovie<span class="vendetta"> <h6>Vendetta</h6></span></h1>
<ul class="nav">


	<li><a href="/">HomePage</a></li>
	<li><div th:if="${userDetails}">
		<span th:text="${userDetails.username}"></span>
		<a href="/logout">Logout</a>
	</div></li>
	<li><div th:unless="${userDetails}">
		<a href="/login">Login</a>
	</div></li>
</ul>
</nav>

<div class="box">
	<div class="form">
		<h1 th:text="'Attori del film ' + ${movie.title}"></h1>
		<div th:if="${movie.actors.isEmpty()}">Non ci sono attori per questo film</div>
		<ul>
			<li th:each="actor : ${movie.actors}">
				<span th:text="${actor.name}+' '+${actor.surname}"></span>
				<a th:href="@{'/admin/removeActorFromMovie/'+ ${actor.id}+'/'+${movie.id}}">Cancella</a>
			</li>

		</ul>
		<div>
			Attori che si possono aggiungere:
			<ul>
				<li th:each="actor : ${actorsToAdd}">
					<span th:text="${actor.name}+' '+${actor.surname}"></span>
					<a th:href="@{'/admin/addActorToMovie/'+ ${actor.id}+'/'+${movie.id}}"><button type="button"> Aggiungi</button></a>
				</li>
			</ul>
		</div>
		<div class="box2">
			<a th:href="@{'/admin/formUpdateMovie/'+ ${movie.id}}"><button type="button">Fine</button></a>
		</div>
	</div>
</div>
</body>

</html>